# Copyright 2021 CYBERCRYPT
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: rook-ceph

resources:
- common.yaml                       # https://github.com/rook/rook/blob/v1.7.8/cluster/examples/kubernetes/ceph/common.yaml
- operator.yaml                     # https://github.com/rook/rook/blob/v1.7.8/cluster/examples/kubernetes/ceph/operator.yaml
- cluster-on-pvc.yaml               # https://github.com/rook/rook/blob/v1.7.8/cluster/examples/kubernetes/ceph/cluster-on-pvc.yaml
- object.yaml                       # https://github.com/rook/rook/blob/v1.7.8/cluster/examples/kubernetes/ceph/object.yaml
- storageclass-bucket-retain.yaml   # https://github.com/rook/rook/blob/v1.7.8/cluster/examples/kubernetes/ceph/storageclass-bucket-retain.yaml
- object-bucket-claim-retain.yaml   # https://github.com/rook/rook/blob/v1.7.8/cluster/examples/kubernetes/ceph/object-bucket-claim-retain.yaml
- ingress.yaml

patches:
- target:
    kind: Certificate
    name: ingress-certificate
  patch: |-
    - op: replace
      path: /spec/dnsNames/0
      value: ${OBJECT_STORAGE_HOSTNAME}

configMapGenerator:
- name: ingress-config
  files:
  - nginx.conf

generatorOptions:
  disableNameSuffixHash: true
